body {
  background-color: #c7d5e0;
}

.App {
  font-family: sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 50px;
  margin: 20px;
  background-color: black;
  color: lightgray;
}
.App h4 {
  margin: 0;
}

